.container {
  background-color: white;
  padding: 0;
  margin: 0;
  width: 100%;
}

h1.title {
  font-family: "Alex Brush", sans-serif;
}

h5.tagline {
  font-family: "Montserrat", sans-serif;
}

.heading {
  background-color: #d6a0e3;
  padding: 10px 0;
}

a {
  color: #000;
}

a:hover,
h2.post-title,
p.foot-section {
  color: #d381e8;
}

.title,
.tagline {
  text-align: center;
}

div.post-container {
  width: 90%;
}

button.danger {
  border: 2px solid red;
  color: red;
}

button.danger:hover {
  background-color: red;
  color: #fff;
}
