.form-control {
  background-color: white;
  border-color: #d6a0e3;
  color: #d6a0e3;
}
.form-control:focus {
  background-color: white;
  color: #d6a0e3;
  border-color: #d6a0e3;
}
.form-group > .text-muted {
  color: #d6a0e3;
}
.nav-tabs {
  border-top: #d6a0e3;
}
.ql-toolbar.ql-snow {
  border: 1px solid #d6a0e3;
}
.ql-editor.ql-blank {
  background-color: white;
  height: 400px !important;
}
.ql-editor {
  height: 400px !important;
}
.ql-stroke {
  stroke: rgba(214, 166, 34, 0.972);
}
.ql-toolbar.ql-snow {
  background-color: #d6a0e3 !important;
}
.ql-picker-item {
  border-color: #d6a0e3 !important;
}
.ql-snow .ql-picker-options {
  background-color: #d6a0e3 !important;
}
::after,
::before {
  color: white;
}
.text-muted {
  color: #d6a0e3 !important;
}
.ql-editor > p {
  height: 30px;
}
p {
  display: inline;
}
.ql-snow a {
  color: rgba(85, 171, 228, 0.972);
}
