input.form-control {
  background-color: white;
  color: #d6a0e3;
}

.btn {
  border: 2px solid #d6a0e3;
  color: #d6a0e3;
}

.btn:hover {
  background-color: #d6a0e3;
  color: #fff;
}

.login-box {
  border: 2px solid #d6a0e3;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 90%;
  padding: 50px;
}

#login-title {
  color: #d6a0e3;
}
