h1.post-title {
  color: #000;
  font-family: "Montserrat", sans-serif;
}

.single {
  border: 2px solid #d6a0e3;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 20px;
  width: 90%;
}
